<html>
  <head>
    <title>Cart for mobile net</title>
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/cart.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col">
          <img id="img" src="label/11953645322270.jpg" width="227" height="227"/>
        </div>
        <div class="col result-area">
          <span></span>
        </div>
      </div>
    </div>
  </body>
  <!--  Load from CDN  -->
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/mobilenet"></script>
  <script type="text/javascript" src="./js/jquery.min.js"></script>
  <script type="text/javascript" src="./js/bootstrap.min.js"></script>
  <script type="text/javascript" src="./js/cart.js"></script>
</html>
