body {
  margin-top: 10px;
}

.sample-list {
  margin-top: 10px;
}

.sample-list li {
  cursor: pointer;
}

.sample-list div input {
  float: right;
  margin-left: 5px;
}

.show-photo {
  margin-top: 10px;
}

.show-photo div img {
  width: 300px;
  height: 300px;
}

